.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.product > img {
  max-width: 100%;
}

.product {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}
.product > h4 {
  border-top: 1px solid gray;
  font-size: 1.1rem;
  color: #39404a;
  font-weight: 500;
  margin: 0px;
  padding-top: 1rem;
  box-sizing: border-box;
}

// .product-price{
//   display: flex;
//   gap: 5px;
//   justify-content: center;
// }
.prevPrice {
  color: #ff3838;
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: 500;
}
.currPrice {
  color: #119744;
  font-size: 1rem;
  font-weight: 500;
}
.product > button {
  width: 100%;
  border: none;
  padding: 0.6rem 0rem;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #39404a;
}
.product > button fa-icon {
  margin-right: 0.5rem;
}
.icon {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: #119744;
  color: #ffffff;
  border-radius: 5px;
}
.product:hover {
  border: 1px solid #119744;
  box-sizing: border-box;
}
.icons {
  visibility: hidden;
  position: absolute;
  bottom: 37%;
  left: 17%;
  z-index: 1;
}

.product:hover .icons {
  transform: translateY(-50%);
  transition: 0.3s ease-in;
  visibility: visible;
}

.product:hover .product-button {
  background-color: #119744;
  color: #ffffff;
}

@media (max-width: 980px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
